.registerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 90%;
}

.inputFields {
  outline: transparent;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  width: 450px;
}

.button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  width: 450px;
  transition: 300ms ease;
}

.button:hover {
  background-color: black;
  color: white;
}
